<h1>Examples of how all our facebook api accessor methods work</h1>

<h2>Get a Friend's Profile Picture</h2>
 
<%= @testPic = getFriendProfilePhoto(28100762, @access_token) %>
<% @testPic %>
</br>
<%= image_tag @testPic %>

<!-- Jaclyn : 122603389 -->
<!-- Armon : 122604676 -->
<!-- Perry : 122603619 -->
<%= @me = 122604676
    @friend1 = 122603619
    @friend2 = 122603389
  %>

<h2>Get a random picture of person together (scaled beautifully)</h2>
<% @friendshiptPic = getFriendPhoto(122604676, @access_token, 300, 300) %>

<%= raw @friendshiptPic %>



<h2>Get a random picture of two people together (scaled beautifully)</h2>
<% @friendshipPic01 = getFriendshipPhoto(@me, @friend1, @access_token, 300, 300) %>
<% if ( @friendshipPic01.nil? ) %>
  Nothing to show<br />
<% else %>
  <%= raw @friendshipPic01 %> <br />
<% end %>



<h2>Get a random picture of three people together (scaled beautifully)</h2>
<% @friendshiptPic = getThreeSomePhoto(122604676, 122603619, 122613830,@access_token, 300, 300) %>

<%= raw @friendshiptPic %>

</br>


