<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Facebook ID:</b>
  <%= @user.facebook_id %>
</p>

<p>
  <b>Stories:</b>
  <ul>
    <% @user.stories.each do |story| %>
      <li><%= link_to "#{story.title}", story %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', welcome_index_path %>
