<div id="background">
  <%= image_tag "background.png", :class => "stretch" %>
    <div id="fullDiv">
        <div class="logomain">
          <%= image_tag "camera2.png", :height => "100%" %>
        </div>
        <br class="clear" />
        <div id="centercontent" class="clear">
            <div id="tagline">
              What crazy adventures will you and your friends get up to next?
            </div>
            <div id="actionitem">
              <% if @user %>
              <p>Welcome, <%= @user.name %>!</p>
              <h2><%= link_to 'Create a story!', new_story_path %></h2>
            <% else %>
              <%= link_to "Login with Facebook", @fb_login_url %>
            <% end %>
            </div>
        </div>
        <div id="quote">
            "Lisa and Sabrina ran for cover from the giant sock monkey..."
        </div>
    </div>
</div>
