<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Friend #1:</b>
  <%= @story.friend_id_1 %>
</p>

<p>
  <b>Friend #2:</b>
  <%= @story.friend_id_2 %>
</p>

<p>
  <b>Body:</b>
  <%= raw (@story.body) %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', welcome_index_path %>
